<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{url_for('setcookie')}}">set cookie</a>
    <a href="{{url_for('getcookie')}}">get cookie</a>
    <a href="{{url_for('clearcookie')}}">clear cookie</a>

    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages%}
        <li>
            {{message}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% endwith %}
    
</body>
</html>